.Home {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 1rem;
    justify-content: space-around;
    @media (min-width: 930px) {
        margin-left: 4.5rem;
    }
    @media (max-width: 929px) {
        margin-left: 4.5rem;
    }
    @media (max-width: 450px) {
        margin-left: 0;
        margin-bottom: 3.6rem;
    }
}
.item {
    width: 50px;
    height: 50px;
    z-index: 1000;
    position: absolute;
    cursor: pointer;

    .badge {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        background: var(--buttonBg);
        width: 18px;
        height: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.component-transition {
    transition: opacity 0.3s ease-in-out, transform 1s ease-in-out;
}
