.Home {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    @media (min-width: 930px) {
        padding: 1rem 2rem;
        margin-left: 4.5rem;
    }
    @media (max-width: 929px) {
        padding: 1rem 1rem;
        margin-left: 4.5rem;
    }
    @media (max-width: 450px) {
        padding: 1rem 1rem;
        margin-left: 0;
    }
}

.component-transition {
    transition: opacity 0.3s ease-in-out, transform 1s ease-in-out;
}
