.Profile {
    position: relative;
    // display: grid;
    // grid-template-columns: 20rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media (min-width: 930px) {
        padding: 1rem 2rem;
        margin-left: 4.5rem;
    }
    @media (max-width: 929px) {
        padding: 1rem 1rem;
        margin-left: 4.5rem;
    }
    @media (max-width: 450px) {
        padding: 1rem 1rem;
        margin-left: 0;
        margin-bottom: 3.6rem;
    }
    .Profile-center {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
