.table-container {
    max-width: 100%;
    overflow-x: auto;
    transition: transform 0.3s ease;
    padding-top: 1.6rem;

    &:hover {
        transform: translateY(-2.5px);
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 12px rgba(0, 1, 0, 0.2);
}

.table-head {
    color: #fff;
    text-align: left;
    white-space: nowrap;

    tr {
        background-color: #dddddd;
        th {
            background-image: linear-gradient(to right, #ff6600, #ff3399);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
}

.table-row {
    td {
        font-size: 1rem;
        background-color: inherit !important;
    }

    &:hover {
        background-color: #d9d9d935 !important;
    }
}

@mixin actions($color-1, $color-2, $color-3) {
    color: $color-1;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background-color: $color-2;
    border-color: $color-3;
    display: inline-block;
    padding: 0.45em 0.85em;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: 1rem;
}

.table-cell {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    color: inherit !important;
    font-size: 0.92rem !important;

    .green {
        @include actions(#0a3622, #ccf0d1, #b3e9b9);
    }
    .red {
        @include actions(#540f0f, #ffe1e1, #e9b3b3);
    }
}

@media (max-width: 868px) {
    .table-container {
        overflow-x: auto;
        scroll-behavior: smooth;
    }
}

.image-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    justify-content: center;
    cursor: pointer;

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            font-size: 8px;
        }
    }
}

.avatar {
    max-width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.block {
    max-width: 33px;
    height: auto;
}
