.explore {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    img {
        flex: 1;
        max-width: calc(34.1% - 1rem);
        height: 14rem;
        object-fit: cover;
        border-radius: 0.2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
        cursor: pointer;

        @media (max-width: 768px) {
            max-width: calc(50% - 0.5rem);
            height: 12rem;
        }
        @media (max-width: 676px) {
            max-width: 100%;
            height: 10rem;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        }
    }
}

.modal-bodywidth {
    width: 100vh;
    padding: 0 !important;
    @media (max-width: 1199px) {
        width: 100vh;
    }

    @media (max-width: 991px) {
        width: 70vh;
    }
    @media (max-width: 800px) {
        width: 60vh;
    }

    @media (max-width: 575px) {
        width: 45vh;
    }

    @media (max-width: 500px) {
        width: 44vh;
    }
}

.lg-bg {
    background: rgb(235, 234, 234);
}
